<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.scm__sync__configuration.ScmSyncConfigurationPlugin version="1">
  <scm class="hudson.plugins.scm_sync_configuration.scms.ScmSyncGitSCM"/>
  <scmRepositoryUrl>scm:git:{{git_server}}:{{ bkp_repo_team }}/{{ bkp_repo_project }}.git</scmRepositoryUrl>
  <noUserCommitMessage>false</noUserCommitMessage>
  <displayStatus>true</displayStatus>
  <commitMessagePattern>[message]</commitMessagePattern>
  <manualSynchronizationIncludes/>
</hudson.plugins.scm__sync__configuration.ScmSyncConfigurationPlugin>
