#upstream jenkins {
#  server localhost:8080;
#}

server {
  listen 80;
  server_name {{ jenkins_subdomain }}.{{ srh_domain }};


  # 1) Special, somewhat redundant location to always proxy
  #    the health check to the upstream server, without checking
  #    if the request came in over HTTP or HTTPS.
  location /health_check {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;

    proxy_set_header X-HTTP-Method "";
    proxy_set_header X-HTTP-Method-Override "";
    proxy_set_header X-Method-Override "";

    proxy_redirect off;
    proxy_next_upstream error;
    #proxy_pass http://jenkins;
    proxy_pass http://localhost:8080;
    break;
  }


  # Our main location to proxy everything else to the upstream
  # server, but with the added logic for enforcing HTTPS.
  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;

    proxy_set_header X-HTTP-Method "";
    proxy_set_header X-HTTP-Method-Override "";
    proxy_set_header X-Method-Override "";

    proxy_redirect off;
    proxy_next_upstream error;

    # 2) Any request that did not originally come in to the ELB
    #    over HTTPS gets redirected.
    if ($http_x_forwarded_proto != "https") {
#      rewrite ^(.*)$ https://$server_name$1 permanent;
    }

    #proxy_pass http://jenkins;
    proxy_pass http://localhost:8080;
        proxy_connect_timeout       600;
        proxy_send_timeout          600;
        proxy_read_timeout          600;
        send_timeout                600;

        fastcgi_read_timeout 600;

    # Add HTTP Strict Transport Security for good measure.
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains;";

    add_header X-Frame-Options "SAMEORIGIN";

    # If you want to completely disable
    # the app to be iframed, set its to deny
    # add_header X-Frame-Options "DENY";
    # if you want to allow the app
    # to be iframed in certain URI only
    # add_header X-Frame-Options "ALLOW-FROM https://www.some-site.com"

    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

        #if ($query_string ~* "^(.*)_method=(.*)$") {
    #   rewrite ^(.*)$ $uri? permanent;
    #}
    set $fake_method GET;
    if ($query_string ~* "_method=([a-zA-Z0-9]*)([^&]*)") {
        set $fake_method $1;
    }
    if ( $fake_method !~ ^(GET|POST)$ ) {
        return 405;
    }
    if ( $request_method !~ ^(GET|POST)$ ) {
        return 405;
    }

    add_header Allow "GET, POST" always;
    set $test 0;
    if ( $http_x_http_method ) {
       set $test A1;
    }
    if ( $http_x_http_method !~ ^(GET|POST)$ ) {
      set $test "${test}B1";
    }
    if ($test = A1B1) {
       return 405;
    }
    set $test 0;
    if ( $http_x_http_method_override ) {
       set $test A2;
    }
    if ( $http_x_http_method_override !~ ^(GET|POST)$ ) {
      set $test "${test}B2";
    }
    if ($test = A2B2) {
       return 405;
    }
    set $test 0;
    if ( $http_x_method_override ) {
       set $test A3;
    }
    if ( $http_x_method_override !~ ^(GET|POST)$ ) {
      set $test "${test}B3";
    }
    if ($test = A3B3) {
       return 405;
    }

  }

  error_page 404 /custom_404.html;
  location = /custom_404.html {
        root /usr/share/nginx/html;
        internal;
  }

  error_page 401 403 500 502 503 504 /default_error.html;
  location = /default_error.html {
        root /usr/share/nginx/html;
        internal;
  }
}
